th, td {
	border: 2.5px solid black;
	text-align: center;
	width: 10ch;
	height: 4ch
}
tr {
	background-color: #ffffff
}
#Rashmash1, #Rashmash2 {
	border: 2.5px solid black;
	border-collapse: collapse;
	font-size: 0.8em;
	position: relative;
	width: 105ch;
	height: 60ch;
	margin: auto;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
#Rashmash2 {
	height: 45ch;
}
#Toranut {
	border: 2.5px solid black;
	border-collapse: collapse;
	font-size: 0.8em;
	position: relative;
	width: 105ch;
	height: 30ch;
	margin: auto;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none
}
.Rtimestamp {
	text-align: center;
	font-weight: bold
}
.Rtimestamp .gray {
	background-color: #d9d9d9
}
.Ttimestamp {
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	background-color: #6aa84f
}
#copyArea {
	outline: 1.5px solid black;
	width: 300px;
	height: 200px;
	overflow: hidden;
	resize: none
}
#copyAreaContainer {
	float: left;
	margin-left: 50px;
	position: relative;
	width: 300px
}

#toranutLink {
	cursor: pointer;
	text-decoration: underline;
}

.hanichText {
	cursor: pointer
}
.hanichText:hover {
	text-decoration: line-through
}
